@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
#NavigationBar img {
  width: 20px;
  margin-bottom: 3px;
}

.logo {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.logo:hover {
  color: black;
}

#NavigationBar ul {
  margin: 0;
  padding: 0;
}

#NavigationBar li {
  display: inline-block;
}

#NavigationBar ul li a {
  text-decoration: none;
  margin: auto 10px;
  color: #727272;
}

.active {
  color: black !important;
  font-weight: 600;
}
.bgImg1 {
  background-image: url("./images/me.jpg");
  filter: blur(30px) opacity(1);
  height: 100%;
  width: 100%;
  transform-origin: center center;
  transform: rotate(-90deg) scale(1.6);
  transition-duration: 15s;
  background-position: right;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.bg_light:hover .bgImg1 {
  transform: rotate(0deg);
}

.bg_light {
  background-color: #dcdadaaf;
  cursor: pointer;
}

.btnContact {
  color: white;
  background-color: #1d1d1d;
  border: 1px #1d1d1d solid !important;
}

.btnContact:hover {
  color: #1d1d1d;
  background-color: transparent;
  border: 1px #1d1d1d solid !important;
}

.homeContact ul {
  display: inline-block;
}

.homeContact li {
  display: inline-block;
  margin: 0% 10px;
}

.homeContact ul li a {
  text-decoration: none;
  color: #1d1d1d;
  height: 30px;
  width: 30px;
  background-color: white;
  padding: 10px 12px;
  border-radius: 50%;
  transition: 0.5s all;
}

.homeContact ul li a:hover {
  color: white;
  background-color: #1d1d1d;
}

.rounded-5 {
  border-radius: 24px;
  overflow: hidden;
}

.product:hover img {
  transform: scale(1.05);
}

.product {
  overflow: hidden;
  height: auto;
  width: 100%;
  border-radius: 24px;
  object-fit: cover;
  position: relative;
}

.product img {
  transition: 0.8s all;
}

.productText {
  color: white;
  position: absolute;
  top: 35px;
  left: 35px;
  font-weight: 900;
}

.eyeIcon i {
  position: absolute;
  top: 25px;
  right: 85px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
  transition: 0.6s all;
}

.linkIcon i {
  position: absolute;
  top: 25px;
  right: 35px;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3) !important;
  transition: 0.6s all;
}

.linkIcon i:hover,
.eyeIcon:hover i {
  color: #1d1d1d;
  background-color: #fff;
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 350px !important;
  }

  .bg_light {
    margin-bottom: 15px;
  }

  .homeContact {
    text-align: center;
    margin-top: 2rem !important;
  }

  .homeContact ul {
    display: block;
    padding: 0;
    margin-top: 1.5rem;
  }

  .homeContact ul li {
    margin: 0 5px;
  }

  .topContact {
    margin-bottom: 10px;
  }

  .mt-4 {
    margin-top: 1rem !important;
  }

  body {
    overflow-x: hidden;
  }

  .eyeIcon i,
  .linkIcon i {
    top: auto;
    bottom: 35px !important;
  }
}
