@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
body {
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  background-color: #1d1d1d;
}

html {
  scroll-behavior: smooth;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: opacity 1s ease;
  opacity: 1;
}

.spinner-container.hidden {
  opacity: 0;
}

#NavigationBar img {
  width: 20px;
  margin-bottom: 3px;
}
.progress-bar {
  background-color: #00ff78 !important;
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.logo:hover {
  color: white;
}

#NavigationBar ul {
  margin: 0;
  padding: 0;
}

#NavigationBar li {
  display: inline-block;
}

#NavigationBar ul li a {
  text-decoration: none;
  margin: auto 10px;
  color: white;
}

.active {
  color: white !important;
  font-weight: 600;
}
.bgImg1 {
  background-image: url("./images/me.jpg");
  filter: blur(30px) opacity(1);
  height: 100%;
  width: 100%;
  transform-origin: center center;
  transform: rotate(-90deg) scale(1.6);
  transition-duration: 15s;
  background-position: right;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.bg_light:hover .bgImg1 {
  transform: rotate(0deg);
}

.bg_light {
  background-color: #333333af;
  cursor: pointer;
  color: white;
}
.bg_light p {
  color: rgb(192, 192, 192);
}
.btnContact {
  color: #262626;
  background-color: #fff;
  border: 1px #fff solid !important;
  font-weight: bold;
  transition: 400ms all !important;
}

.btnContact:hover {
  color: #fff;
  background-color: transparent;
  border: 1px #fff solid !important;
}

/* Social buttons styling start */
.homeContact ul {
  display: flex;
}

.homeContact ul li {
  list-style: none;
}

.homeContact ul li a {
  width: 45px;
  height: 45px;
  background-color: #fff;
  text-align: center;
  line-height: 39px;
  font-size: 25px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
  transition: 300ms all;
}

.homeContact ul li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
  font-size: 22px;
}

.homeContact ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.homeContact ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
.homeContact ul li a:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homeContact ul li a:hover:before {
  top: 0;
}

.homeContact ul li:nth-child(1) a:before {
  background: linear-gradient(135deg, #833ab4, #fd1d1d, #f77737, #fcaf45);
}

.homeContact ul li:nth-child(2) a:before {
  background: #55acee;
}

.homeContact ul li:nth-child(3) a:before {
  background: #0077b5;
}

.homeContact ul li:nth-child(4) a:before {
  background: #000000;
}
/* Social buttons styling end */

.rounded-5 {
  border-radius: 24px;
  overflow: hidden;
}
// Skills Section
.skillsCard{
  transition: transform 300ms;
}
.skillsCard:hover{
  transform: scale(1.03);
}
// Projects Section
.projectsCard{
  transition: transform 300ms;
}
.projectsCard:hover{
  transform: scale(1.01);
}
.projectsCard .btn{
  background-color: #00ff78 !important;
  color: #1d1d1d !important;
  border-radius: 3px;
  border: 1px #00ff78 solid !important;
}
.projectsCard .btn:hover{
  border: 1px #00ff78 solid !important;
  color: #00ff78 !important;
  background-color: transparent !important;

}

/* Mobile Responsive */

@media screen and (max-width: 576px) {
  .container {
    max-width: 350px !important;
  }

  .bg_light {
    margin-bottom: 15px;
  }

  .homeContact {
    text-align: center;
    margin-top: 2rem !important;
    display: block !important;
  }

  .homeContact ul {
    flex-direction: row;
    padding: 0;
    margin-top: 2rem;
    justify-content: center;
  }
  .imgContainer img {
    width: 100% !important;
  }
  .topContact .p-5 {
    padding: 1.5rem !important;
  }
  .topContact h1 {
    font-size: 30px !important;
  }
  .homeContact ul li {
    margin: 0 5px;
  }
  .homeContact ul li a {
    margin: 0%;
  }

  .topContact {
    margin-bottom: 10px;
  }

  .mt-4 {
    margin-top: 1rem !important;
  }

  body {
    overflow-x: hidden;
  }

  .eyeIcon i,
  .linkIcon i {
    top: auto;
    bottom: 35px !important;
  }
}
